<h1>Respuestas</h1>
<table>
  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
    <th>Valor</th>
  </tr>
 
  <% @respuestas.each do |respuesta| %>
    <tr>
      <td><%= @pregunta.find(respuesta.question_id).question %></td>
      <td><%= respuesta.answer %></td>
        <td><%= respuesta.value %></td>
      
      <td><%= link_to 'Show', answer_path(respuesta) %></td>
         <%if current_user.admin? %>  
      <td><%= link_to 'Edit', edit_answer_path(respuesta), class: "btn btn-xs btn-primary" %></td>
        <%end%>
    
    </tr>
  <% end %>
</table>