<h1>Encuesta</h1>

<%= form_for :answer, url: answers_path do |f| %>
   
<% if @respuesta.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@respuesta.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @respuesta.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p>

    <tr>
      <td><%= @preguntas.find(1).question %></td>
        <td><%= f.text_field :answer%></td><br>
    
        
    </tr>

        <%= f.submit "Guardar pregunta"%>
<%end%>
    