<h2 align="center">Titulo: <%= @project.title %></h2>
    <div class="well col-xs-8 col-xs-offset-2">
     
        <p>
            <strong>Área:</strong>
            <%= @project.area %>

        </p>

        <p>
            <strong>Importe</strong>
            <%= @project.amount %>
        </p>

        <p>
            <strong>Periodo</strong>
            <%= @project.starting %>
            <%= @project.ending %>
        </p>

        <p>
            <strong>Descripción</strong>
            <%= @project.description %>
        </p>

        <p>
            <strong>Ubicación</strong>
            <%= @project.location %>
        </p>

        <p>
            <strong>Voluntarios</strong>
            <%= @project.volunteers %>
        </p>

        <p>
            <strong>Problemática</strong>
            <%= @project.problem %>
        </p>

        <p>
            <strong>Numero de personas que atienden </strong>
            <%= @project.serves_num_people %>
        </p>

         <ul>
             Creado por: 
             <li><%= link_to @project.user.username, user_path(@project.user) if (@project.user) || current_user.admin?%></li>

        </ul>

                <div class="article-actions">
                    <%if current_user.admin? %>  
                    <%= link_to 'Editar', edit_project_path(@project), class:"btn btn-xs btn-primary"%>
                    <%= link_to 'Eliminar',project_path(@project),method: :delete, data: {confirm: '¿Estás seguro de que deseas eliminar el proyecto? Esta acción no se puede deshacer'}, class: "btn btn-xs btn-danger"%>
                    <%end%>
                    <%= link_to 'Atras', projects_path, class:"btn btn-xs btn-success" %>
                </div>
    </div>