<style>
    .texto{
        font-size:20px;    
    
    }
</style>

<%= form_for @pregunta do |f| %>

 <% if @pregunta.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pregunta.errors.count, "error") %> prohibited
        this pregunta from being saved:
      </h2>
      <ul>
        <% @pregunta.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
            <div class="form-group">
                <div class="control-label col-ms-2">
                    <%= f.label :texto_de_la_pregunta, class:"texto" %> 
                </div> 
                <div class="col-sm-8">
                    <%= f.text_field :texto_pregunta, class:"form-control",autofocus:true %>
                </div>    
            </div>
            <br>

      
            <div class="form-group">
                <div class="control-label col-ms-2">
                    <%= f.label :valor, class:"texto" %> 
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :valor, class:"form-control" %>
                </div>
            </div> 
            <br>
  

            <div class="form-group">
                <div class="control-label col-ms-2">
                    <%= f.label :area, class:"texto" %> 
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :area, class:"form-control" %>
                </div>
            </div> 
 
            <br>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <%= f.submit :"Subir pregunta", class:'btn btn-primary btn-lg' %>
                </div>
            </div>   

  
<% end %>



 
<%= link_to 'Regresar', preguntas_path, class:"texto" %>